<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>UserName</key>
  <string>__CLAWLAB_USER__</string>
  <key>GroupName</key>
  <string>__CLAWLAB_GROUP__</string>
  <key>Umask</key>
  <integer>2</integer>
  <key>WorkingDirectory</key>
  <string>__CLAWLAB_ROOT__</string>
__ENVIRONMENT_VARIABLES_BLOCK__
  <key>ProgramArguments</key>
  <array>
    <string>__CLAWLAB_ROOT__/cmd</string>
    <string>__AGENT_ID__</string>
    <string>start</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__CLAWLAB_ROOT__/state/logs/agent/__AGENT_ID__.log</string>
  <key>StandardErrorPath</key>
  <string>__CLAWLAB_ROOT__/state/logs/agent/__AGENT_ID__.err</string>
</dict>
</plist>
